<?xml version="1.0" encoding="UTF-8"?>
<!--  This is the Spring configuration file.  This file declares all of the Spring beans that
			will be used by the Struts 2 Portfolio, starting with Chapter Nine.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
 <!--
	<bean name="RegisterAction" class="action.RegisterAction">  
        <property name="service" ref="service"></property>  
    </bean>  
    
	<bean name="service" class="service.imp.ServiceImp"></bean> 
   -->
   
   <!-- 给Action注入Service -->
   <bean id="LoginAction" class="action.LoginAction">
      <property name="userService" ref="userService"/>
   </bean>
   
   <bean id="RegisterAction" class="action.RegisterAction">
      <property name="userService" ref="userService"/>
   </bean>
   
	<bean id="IndexAction" class="action.IndexAction">
	  <property name="userService" ref="userService"/>
	</bean>


   <!-- 给Service实现类注入DAO -->
   <bean name="userService" class="service.imp.UserServiceImp">
   	  <property name="userDao" ref="userDAO"/>
   	   <property name="roleDao" ref="roleDAO"/>
   </bean>
   
    <bean name="advertorialService" class="service.imp.AdvertorialServiceImp">
   	  <property name="advertorialDAO" ref="advertorialDAO"/>
   </bean>
   
   
     <!-- Dao -->
    <bean name="userDAO" class="dao.UserDAO"/>
    <bean name="roleDAO" class="dao.RoleDAO"/>
    <bean name="advertorialDAO" class="dao.AdvertorialDAO"/>
</beans>

